.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20rem;
    height: 20rem;
    gap: 2px;
    row-gap: 2px;

    padding: 10px;
    padding-right: 0px;
    border-radius: 20px;
    background: linear-gradient(132deg, rgb(2, 28, 122) 0.00%, rgb(36, 83, 255) 100.00%);

}

.container{
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 20px;
    display: flex;
   
}
.cell{
background: linear-gradient(132deg, rgb(0, 103, 154) 0.00%, rgb(0, 173, 239) 100.00%);
    height: 90%;
    width: 90%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 30px;
}


.turn{
    border-radius: 30px;
}
.cell:hover{
background: linear-gradient(132deg, rgb(227, 244, 253) 0.00%, rgb(170, 209, 226) 100.00%);
}
.turn{
    border: solid black 1px;
    padding: 1rem;
    width: 17.9rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inputDiv{
    width: 20rem;
    height: 25rem;
    border-radius: 30px;
    justify-self: center;
    align-self: center;
    padding: 3rem;
    top: 100px;
    /* display: none; */
    position: absolute; 
   
    
    
    
}

.inputForm{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 10px;
    /* border: rgb(136, 36, 36) dotted; */
    background: linear-gradient(132deg, rgb(59, 55, 106) 0.00%, rgb(0, 143, 186) 50.00%, rgb(255, 149, 213) 100.00%);
    border-radius: 25px;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
}

#playerOne, #playerTwo{
    border-radius: 10px;
    border-style: none;
}

#submit{
    border-radius: 30px;
    border-style: hidden;
    width: 50%;
    height: 70%;
    justify-self: center;
background: linear-gradient(132deg, rgb(251, 251, 255) 0.00%, rgb(215, 223, 252) 100.00%);    
    font-size: medium;
    font-weight: 800;
    
}



